@media screen and (min-width: 0) {
    .saudacao__t {
        font-size: calc(10vw);	
        margin-top: 3rem;
    }

    .saudacao__p, .contato__p, .call {
        font-size: calc(4vw);
        padding: 1.2rem;
        color: rgba(0, 0, 0, 0.8);
        font-family: 'Lilita One', cursive;
    }

    #img {
        width: calc(70vw);
    }

    .sendMe__tg, .sendMe__wa {        
	    width: calc(18vw);
    }
}


@media screen and (min-width: 768px) {
    .saudacao__t {        	
        font-size: 5rem;
    }
    
    .saudacao__p, .contato__p, .call {
        font-size: 2rem;
    }
    
    .imgEu {
        width: calc(100vw);
    }

    #img {
        box-shadow: 5px 5px 5px 0 rgba(7, 54, 66, 0.411);
    }
    
    #img:hover {
        box-shadow: 1px 1px 1px 0 rgba(7, 54, 66, 0.411);
        -webkit-transform: scale(0.99);
        -ms-transform: scale(0.99);
        transform: scale(0.99);
    } 
    
    .sendMe__tg, .sendMe__wa {        
	    width: 100px;
    }

    .sendMe__tg:hover, .sendMe__wa:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
}