body {
	background-color: rgba(3, 3, 3, 0.4);	
}

.letra{position:absolute; color:#090; text-align:center;}

.saudacao {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: center;
}

.saudacao__t {   	
	margin-top: 3rem;
	text-shadow: 4px 4px 4px;  
	font-family: 'Alfa Slab One', cursive;
	color: rgba(0, 0, 0, 0.8);
}

/* imagem */

.imgEu {
	display: flex;	
	justify-content: center;
}

#img {
	border-radius: 500px;
}



/* imagem end*/

.saudacao__p, .contato__p, .call {
	font-size: 1.5rem;
	padding: 1.2rem;
	color: rgba(0, 0, 0, 0.8);
	font-family: 'Lilita One', cursive;
}

.contato__p {
	text-align: center;
	padding: 4rem;
}

.rSocial {
	display: flex;
	justify-content: center;
}

.sendMe__tg, .sendMe__wa {
	padding: 0 3rem 0;
	padding-bottom: 3rem;
}

.call {
	display: flex;
	justify-content: center;
}

.call__l {
	padding-left: calc(5px);
}