.body {
	background: gray;
	background-repeat: no-repeat;
	background-size: cover;
}

.saudacao {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: center;
}

.saudacao__t {
	font-size: 2.2rem;	
	text-shadow: 2px 2px 5px;
	color: Black;
}

.f {
	font-size: 2.2rem;
	color: pink;
	display: none;
	padding: 10px;
	text-shadow: 2px 2px 5px;
}

.saudacao__t:hover + .f {
	display: block;
}

.saudacao__p {
	padding: 1.2rem;
	font-size: large;
	color: gray;
}

.imgEu {
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.contato__p {
	text-align: center;
	color: gray;
}

.message {
	display: flex;
	justify-content: center;
	padding: 1.2rem;
	font-size: large;
    text-align: center;
}

.wa, .tg {
	height: 50px;
	width: 50px;
}
